@import "./reset.scss";
@import "~bootstrap/scss/bootstrap";

$colorX: #209ecc;
$colorY: #52ae32;
//     font-family:"Segoet";
//     src:url("/static/fonts/segoeui.ttf") format("ttf");
// }
// @font-face {
//     font-family: 'Droid Sans';
//     src:url()
// }

h1 {
  font-weight: bold;
}
* {
  box-sizing: border-box;
  //font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
  font-family: "SegoeUI", "Droid Sans";
}
html {
  font-size: 95%;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  //border: 1px solid red;
  //padding-top: 20px;
}

// .full-width-wrap {
//     // border: 2px solid red;
//     // margin: 1rem 0;
//     // padding: 1rem 0;
//     height: auto;
// }
.nav {
  //border-bottom: 1px solid grey;
  margin-bottom: 3px;
  -webkit-box-shadow: 2px 6px 20px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 20px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 6px 20px -4px rgba(0, 0, 0, 0.45);
}
.text {
  background-color: lighten(lightgrey, 10);
  padding: 1.6rem 0;
  line-height: 2rem;
  font-size: larger;
}
main {
  img {
    display: grid;
    margin: auto;
  }
}
.section-container {
  margin: 50px auto;
  h2 {
    font-size: 250%;
  }
}

.form-full-width {
  background: linear-gradient(
    0.25turn,
    lighten($colorX, 0),
    lighten($colorY, 0)
  );
  color: white;
  padding: 30px 0;
  font-size: 80%;
}
.form-container {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  margin-bottom: 25px;
}
rect.cls-4 {
  //fill: linear-gradient(0.25turn, lighten($colorX, 0), lighten($colorY, 0));
  animation-name: animBG;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
@keyframes animBG {
  from {
    fill: url(#linear-gradient);
  }
  to {
    fill: url(#linear-gradient-2);
  }
}
.footer-full-width {
  margin-bottom: 3px;
  -webkit-box-shadow: 2px 6px 20px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 20px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 6px 20px -4px rgba(0, 0, 0, 0.45);
}

@media (min-width: 1441px) {
  html {
    font-size: 130%;
  }
  // .container {
  //   min-width: 1440px;
  // }
}

@media (max-width: 499px) {
  html {
    font-size: 85%;
  }
}
@media (max-width: 340px) {
  html {
    font-size: 75%;
    
  }
}

@media (min-width : 1080px) {
  .mobile-button {
    display: none;
  }
}
.nav-column {
  flex-direction: column;
}
.ml-auto  {
  padding: 15px 0 0 0;
  //border: 1px solid red;
}

.upperNav {
  // width: 200px;
  // height: 30px;
  //border: 1px solid darkgreen;
}
.upperNav a {
  text-transform: lowercase;
}