@import "~bootstrap/scss/bootstrap";
@import "./reset.scss";

$colorX: #209ecc;
$colorY: #52ae32;

* {
  box-sizing: border-box;
  font-family: "SegoeUI" "Droid Sans";
  list-style: none;
}
ul {
  margin-left: 0;
}
.full-width-container-nav {
  position: relative;
  width: 100%;
  box-shadow: 1px -9px 30px 0px;
  z-index: 300;
}

.article-text-container {
  background-color: rgba(107, 174, 51, 0.1);
  padding: 1.3rem 0;
}

h1 {
  font-weight: bold;
}

a {
  &:hover {
    text-decoration: none;
  }
}

html {
  font-size: 95%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  .nav {
    margin-bottom: 3px;
    z-index: 300;
  }
}

.text {
  line-height: 2rem;
  font-size: larger;
  h3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
}

main {
  img {
    //border: 2px solid red;
    z-index: 100;
    display: grid !important;
    margin: auto;
  }
}

.section-container {
  margin: 50px auto;
  h2 {
    font-size: 250%;
  }
}

.form-full-width {
  background: linear-gradient(
    0.25turn,
    lighten($colorX, 0),
    lighten($colorY, 0)
  );
  color: white;
  padding: 50px 0;
  font-size: 80%;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  margin-bottom: 25px;
}

.footer-full-width {
  margin-bottom: 3px;
  -webkit-box-shadow: 2px 6px 20px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 20px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 6px 20px -4px rgba(0, 0, 0, 0.45);
}

@media (min-width: 1441px) {
  html {
    font-size: 130%;
  }
  
}

@media (max-width: 499px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 1080px) {
  .mobile-button {
    display: none;
  }
}

.nav-column {
  min-height: 140px;
  flex-direction: column;
  justify-content: space-between !important;
}

.ml-auto {
  padding: 15px 0 0 0;
  margin-top: 0;
}
.testLi {
  //width: 100px;
  //height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid hotpink !important;
  margin: 0;
  padding: 0;
}
.upperNav {
  li {
    margin-bottom: 10px;
    color: lighten(black, 60%);
  }
  a {
    text-transform: capitalize;
    color: lighten(black, 60%);
    //font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    &:hover {
      text-decoration: none;
    }
  }
}

article {
  margin: 0;
  padding: 0;
}

.bar {
  width: 100%;
  height: 80px;
  background: linear-gradient(
    0.25turn,
    lighten($colorX, 0),
    lighten($colorY, 0)
  );
  margin-top: 40px;
}

@media (min-width: 1200px) {
  li.nav-item {
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) {
  li.nav-item > a {
    margin-left: 0;
  }
}
.fancy-form-container {
  background: linear-gradient(
    0.25turn,
    lighten($colorX, 0),
    lighten($colorY, 0)
  );
}
