@font-face {
    font-family: "Segoe UI";
    src: url("segoeui.ttf");
  }
  /* @font-face {
    font-family: "Segoe UIB";
    font-style: italic;
    font-weight: bold;
    src: url("segoeuii.ttf");
  }   */

  /* @font-face {
    font-family: "Dank Mono";
    src: url("DankMono-Regular.otf");
  } */