.container {
    margin-top: 20px;
    width: inherit;
    display: flex;
    justify-content: space-between;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }
    img {
        width: 220px;
    }
}
.disclaimer {
    //border-top: 1px solid black;
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: 0px -4px 24px -4px rgba(0,0,0,0.5);
-moz-box-shadow: 0px -4px 24px -4px rgba(0,0,0,0.5);
box-shadow: 0px -4px 24px -4px rgba(0,0,0,0.5);
}