$colorX: #209ecc;
$colorY: #52ae32;
.container {
    display: flex;
    justify-content: space-between;
    div {
        margin: 5px 0;
    }
    input, textarea {
        border: 1px solid green;
        width: 100%;
        background: white;
    }
}

.formParticulier, .formZakelijk {
    margin: 0 0 !important;
    width: 48%;
    height: auto;
    background-color: lighten(lightgreen, 20);
    padding: 15px;
}
//--------------------------------------------
.sexStyleRow {
    display: flex;

    div {
        min-width: 50px;
        margin-left: 5px;
        input {
            width: auto;
        }

    }
}
.firstAndLastName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & div {
        width: 46%;
    }
}
.firstAndLastName, .lastContainer {
    input {
        padding: 6px;
    }
}
.agreement {

    display: flex;
    flex-direction: row;
    input {
        width: 20px;
    }
}

.sendBtnAndRequireNote {
    display: flex;
    justify-content: space-between;
    button {
        padding: 10px;
        border-radius: 10px;
        background: linear-gradient(0.25turn, lighten($colorX, 0), lighten($colorY, 0));
        border: none;
        color: white;
    }
}
 //-------------------------------------------
@media (max-width: 991px) {
    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        .formParticulier, .formZakelijk {
            width: 100%;
            
        }
    }
}