$colorX: #209ecc;
$colorY: #52ae32;

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 20px;
  li {
    padding-left: 2rem;
    a {
      text-transform: uppercase;
      font-size: 0.9rem;
      // font-family: 'SegoeUI';
      font-weight: bold;
      text-decoration: none;
      color: #6caf34;
      &:hover {
        color: black;
        transition: all ease-in-out 0.2s;
      }
    }
  }
}

.contactBtn {
  //border: 2px solid green;
  padding: 6px;
  background: linear-gradient(0.25turn, lighten($colorX, 0), lighten($colorY, 0));
  border-radius: 10px;
  &:first-child {
    color: white;
  }
}

.iconSvg {
  width: 300%;
}

.active {
  background-color: darken(#209ecc, 0);
  padding: 6px;
  border-radius: 10px;
  color: white !important;
}

@media (max-width: 1080px) {
  .test {
    display: none;
  }
  .navContainer {
    flex-direction: column;
  }
  .navList {
    flex-direction: column;
  }
}

.open {
  display: flex;
}

.close {
  display: none;
}

.containerNavLinks {
  width: 400px;
  height: 120px;
  border: 1px solid darkgreen;
}

@media (max-width: 340px) {
  .active {
    padding: 0.5rem;
  }
}

.bootstrapNavbar {
  a {
    color: #52ae32;
    margin: 0 10px;
    text-transform: uppercase;
  }
}

@media (max-width: 993) {
  .bootstrapNavbar {
    height: 70px !important;
  }
  .iconSvg {
    display: block;
    width: 200%;
    & > svg {
      width: 100%;
    }
  }
}
