$colorX: #209ecc;
$colorY: #52ae32;
$bg-light-color: #f8f9fa;

.header {
  background: linear-gradient(
    0.25turn,
    lighten($colorX, 0),
    lighten($colorY, 0)
  );
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  cursor: pointer;
}
.list {
  color: black;
  margin-left: 0;
  background-color: rgba(107, 174, 51, 0.1);
}
.listItem {
  margin: 0;

  padding: 5px;
  padding-left: 35px;
  list-style: none;
  li {
    list-style: disc;
  }
}

.listKern {
  padding: 10px 30px;
}
.container {
  color: white;
  margin-bottom: 20px;
  h3 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
